<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/StyleSabmit.css" />
    <script src="~/js/script.js" defer></script>
    <link href="http://fonts.cdnfonts.com/css/roboto" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav-bar secondary-text">
            <div class="nav-bar-wrapper">
                <div class="nav-logo-wrapper">
                    <i class="nav-logo"></i>
                    <span class="nav-title">My Document</span>
                </div>

                <div class="nav-menu-wrapper">
                    <span class="nav-menu-item">Про нас</span>
                    <a class="nav-menu-item" href="./hendels.html">Оператори</a>
                    <span class="nav-menu-item">Новини</span>
                    <i class="nav-menu-icon"></i>
                </div>

                <div class="menu-button"></div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer secondary-text">
        <span class="footer-credentials">
            © 2022 My Document. Всі права захищені.
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
